# Dependencies
node_modules
npm-debug.log

# Build output
build

# Version control
.git
.gitignore

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Test coverage
coverage

# Logs
*.log

# Temporary files
*.tmp
*.temp

# infrastructure
infra

# README
README.md
*.md