<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes of <%= location %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/menu') %>
        <div class="container">
            <h1>Oh, hi! I am from <span id="location">
                    <%= location %></span>!</h1>
            <h2>Prepare for adventure in clouds!</h2>
        </div>
</body>

</html>