<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Books</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/menu') %>
        <div class="container">
            <h1>My Favorite Books</h1>
            <ul>
                <% books.forEach(function(book) { %>
                    <li>
                        <%= book.title %> by <%= book.author %>
                    </li>
                    <% }); %>
            </ul>
        </div>
</body>

</html>